/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/04/2015, 18:06:12
    Author     : Usuario
*/

$color-text-primary: white;
$color-text-secondary: black;

$dark-bg-color: black;
$light-bg-color: white;

$link-color: red;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Signika', 'Roboto', sans-serif;